/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


.container {
	max-width: 876px;
	margin: 0 auto;
}
header {
	vertical-align: middle;
	padding-bottom: 40px;
	margin-bottom: 20px;
	border-bottom: solid 2px black
}
header nav {
	display:inline-block;	
	margin-top: 40px;
}

header nav a {
	display:inline-block;	
	text-decoration: none;
	margin-right: 40px;
	color: grey;
}

.logo {
	display:inline-block;
	margin-left: 100px;
}

 h1 {
	margin-top: 10px;
	display: inline-block;
	font-size: 60px;
	vertical-align: middle;
	text-align:center;
	
}

.getStarted  {
	font-size: 16px;
	border: solid 2px black;
	padding: 5px;	
}
	.imgCode {
	display: inline-block;
	 margin-left: 200px;
	 margin-top: 40px;
	 vertical-align: middle;
}

.features {
	display: inline-block;
	width: 43%;
	
}

.about {
	display: inline-block;
	width: 43%;
	margin-left: 10%;
}

.middle-img {
	margin: 30px 0px;
}

.sectionTriple {
	padding-bottom: 20px;
	border-bottom: solid 2px black;
	margin-bottom: 20px;
}

.services {
	width: 28%;
	display: inline-block;
}

.product {
	display: inline-block;
	width: 28%;
	margin-left: 7% 
}

.vision {
	display: inline-block;
	width: 28%;
	margin-left: 7% 
}

address {
	line-height: 20px;
}

.phoneEmail {
	line-height: 40px;
	margin-top:10px;
}

.copy {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}